body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    color: #222;
    margin: auto;
    background: #ffffff;
}

img {
    max-width: 100%;
}

h2,
a {
    color: #c2a6cd;
}

h1 {
    color: #b194bc;
    text-align: center;
    margin: 20px;
    padding: 30px;
}

strong {
    color: #c2a6cd;
}

.resized-image {
    max-width: 200px;  
    max-height: auto;
}

.image-thumbnail {
    border: 2px solid #c2a6cd;
}

header {
    background-color: #c2a6cd; 
    color: #fff; 
    padding: 0px 10px 0px 10px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Vertically align content */
}

.right-links {

}

.left-links ul,
.right-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-links ul li,
.right-links ul li {
    display: inline;
    margin-right: 20px; 
}

.left-links a,
.right-links a {
    text-decoration: none;
    color: #fff; 
}

.left-links a:hover,
.right-links a:hover {
    font-weight: bolder; 
    color: #9863ad;
}


#logo {
    font-size: 32px; 
    font-weight: bolder;
    font-style: italic;
}


nav ul li a {
    text-decoration: none;
    color: #fff; 

}



.product-container {
    display: inline-block;
    width: 25%; /* each container takes up 20% of the parent's width */
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.product-container img {
    height: 200px;
    width: 180px;
}

.product-container a {
    text-decoration: none;
    color: #b194bc;
}

.product-container a:hover {
    color: #9863ad;
}

.detail-container {
    text-align: center;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
}

.calendar-table th {
    background-color: #c5b4cc;
}

.header-row {
    display: none; /* Hide the header row for days of the week */
}

.header-cell {
    display: table-cell;
    width: 14.2857%; /* 100% divided by 7 days */
}

.cell {
    display: table-cell;
    width: 14.2857%; /* 100% divided by 7 days */
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0; /* Highlight when hovered */
}

#calendar-container {
    text-align: center;
}

#month-name {
    font-size: 3rem; 
    margin-bottom: 10px;
    text-align: center;
    color: #b194bc;
}

#month-navigation {
    text-align: center;
    margin-bottom: 10px;
}

#prev-month, #next-month {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #b194bc;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#prev-month:hover, #next-month:hover {
    background-color: #9863ad;
}